######################
# Python
######################
__pycache__

######################
# IntelliJ
######################
.idea/

######################
# R
######################
.RData
.Rhistory

######################
# Project Specific
######################
data/models
