######################
# Python
######################
__pycache__

######################
# IntelliJ
######################
.idea/

######################
# R
######################
.RData
.Rhistory

######################
# Project Specific
######################
models
webis-argvalues-22
webis-argvalues-22.zip
predictions.tsv
