######################
# IntelliJ
######################
.idea/

######################
# R
######################
.RData
.Rhistory

######################
# Project Specific
######################
output.txt
